{% extends 'main/layout.html' %}

{% block additional_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='design_general.css') }}">
{% endblock %}

{% block main_content %}

    <div class="hero"> <d>Devices@IBM Singapore StoreRoom </d></div>

    <div class="container">
        <div class="container">
        {% if current_user.is_authenticated %}

            <div class="row">

                <div class="col-md-3"></div>

                    <div class="card text-center" style="width: 14rem;">
                                 <div class="card-body">
                        <h5 class="card-title">Back to Index</h5>
                        <p class="card-text">Get back to admin Console </p>
                        <a href="{{ url_for('admins.index') }}" class="btn btn-primary">Admin Console </a>
                      </div>



                    </div>

                    <div class="card text-center" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title">Dashboard</h5>
                        <p class="card-text">Connect to our Dashboard for Details and Reports</p>
                        <a href="https://dataplatform.cloud.ibm.com/projects/89a33355-ff3b-4eaf-a4d9-36d094df4738/assets?context=cpdaas" class="btn btn-primary">Go to Dashboard </a>
                      </div>
                    </div>




                </div>

            <div class="row">

            <div class="col-md-2">

            </div>

            <div class="col-md-10">
                <hr>

                    <div class="table-responsive">
                        <table id="data" class="table table">
                            Back to Pending Appointments <small>to review all pending Appointments go to <a href="{{ url_for('admins.index') }}">View</a></small>
                            <thead>

                            <tr>
                                <th scope="col">User</th>

                                <th scope="col">Appointment Date</th>
                                <th scope="col">Description</th>
                                <th scope="col">Status</th>
                                <th scope="col">View</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for i in appointments %}

                                <td scope="col"> {{ i.Name }} {{ i.LastName }}</td>
                                <td scope="col"> {{ i.appointment_date.strftime('%h-%d-%y') }}@{{ i.appointment_hour }}</td>
                                <td scope="col"> <small>{{ i.Description }}</small></td>

                                <td scope="col"> {{ i.status }}</td>

                                <td scope="col">
                                 <a href="{{ url_for('homes.appointment', id=i.id) }}">Detail</a>
                                </td>


                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}
   </div>



{% endblock main_content %}
