{% extends "main/layout.html" %}

{% block additional_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='design_general.css') }}">
{% endblock %}

{% block main_content %}
    {% if current_user.is_authenticated %}
    <div class="hero">
        <d>Huarpe's Construction & Design</d>
        <br />
        <br>
        <div class="col-sm-1"></div>

             <p style="font-size: large">
                {{ current_user.email }} let us know some details that
                will allow us to know if we are a perfect match to build your brand new home
            </p>
        </div>

        <div class="col-sm-3"></div>

             <div class="col-md-5">
                 <form method="POST" action="#" enctype="multipart/form-data">
                     {{ form.hidden_tag() }}
                     <fieldset class="form-group">
                         <legend class="border-bottom mb-4">
                             <div class="hero">
                              <p style="font-size: small">

                             </p>
                             </div>
                         </legend>

                         <div class="form-group">
                            {{ form.name.label(class="form-control-label") }}
                            <p style="font-size: small">(can be an address, a name or anything you like just have fun picking it)
                            </p>
                            {% if form.name.errors %}
                                {{ form.name(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.name(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.target_date.label(class="form-control-label") }}

                            <p style="font-size: small">(Tell us when are you thinking to move in)</p>

                            {% if form.target_date.errors %}
                                {{ form.target_date(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.target_date.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.target_date(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>





                        <div class="form-group">
                            {{ form.desired_budget.label(class="form-control-label") }}
                            <p style="font-size: small">(Our projects target luxury and a great living to affordable prices,
                                <strong>you wont find half a millon prices) </strong>)
                            </p>
                            {% if form.desired_budget.errors %}
                                {{ form.desired_budget(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.desired_budget.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.desired_budget(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>



                     </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
     <div class="border-top pt-3">

    </div>
    </div>
             </div>
        </div>
    {% endif %}
    </div>
{% endblock main_content %}
