{% extends "main/layout.html" %}

{% block additional_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='design_general.css') }}">
{% endblock %}

{% block main_content %}
       <div class="hero"> <d>Devices@IBM Singapore StoreRoom </d></div>

            <div class="row">
                <div class="col-sm-3"></div>

                <div class="col-sm-6">
    <div class="container">
    {% if current_user.is_authenticated %}
        <div class="row">
            <div class="col-md-3"></div>

             <div class="col-md-9">
                 <form method="POST" action="{{ url_for('homes.return_device_appointment')}}" enctype="multipart/form-data">
                     {{ form.hidden_tag() }}
                     <fieldset class="form-group">
                         <legend class="border-bottom mb-4"> {{ current_user.email }} </legend>

                         <div class="form-group">
                            {{ form.Name.label(class="form-control-label") }}
                            {% if form.Name.errors %}
                                {{ form.Name(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.Name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.Name(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                     <div class="form-group">
                            {{ form.LastName.label(class="form-control-label") }}
                            {% if form.LastName.errors %}
                                {{ form.LastName(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.LastName.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.LastName(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>


                        <div class="form-group">
                            {{ form.appointment_date.label(class="form-control-label") }}
                            {% if form.appointment_date.errors %}
                                {{ form.appointment_date(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.appointment_date.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.appointment_date(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                         <div class="form-group">
                            {{ form.appointment_hour.label(class="form-control-label") }}
                            {% if form.appointment_hour.errors %}
                                {{ form.appointment_hour(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.appointment_hour.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.appointment_hour(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                     </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
     <div class="border-top pt-3">

    </div>
    </div>
             </div>
        </div>
    {% endif %}
    </div>
{% endblock main_content %}
